/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
*, *::before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --primary-colour: #74ACDF; */
    --primary-colour: #0b82bd;
    --secondary-colour: #F6B40E;
    --accent-colour: #85340A;
    --header-font: 'Nanum Myeongjo', 'Garamond', serif;
    --text-font: 'Inter', 'Arial', sans-serif;
    --box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

/* Typography
--------------------------------------------- */
body {
	font-size: 1rem;
    font-family: var(--text-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}



/* Elements
--------------------------------------------- */


/* Links
--------------------------------------------- */
a {
	text-decoration: none;
    font-family: var(--header-font);
}

ul {
    list-style: none;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 1rem;
}

.logo {
    width: 65px;
    height: auto;
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    margin: 0 1rem;
    fill: white;
}

.menu-toggle.toggled .nav-menu {
    display: block;
}

.nav-menu {
    display: none;
    position: absolute;
    top: 107px;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.nav-menu a {
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 800;
    color: white;

    transition: transform 0.3s;
}

.nav-menu a:hover {
    color: var(--secondary-colour);
    transform: scale(1.1);
}

.site-navigation.toggled .nav-menu {
    display: block;
}


@media (min-width: 45em) {
    .menu-toggle {
        display: none;
    }

    .site-navigation .nav-menu,
    .site-navigation.toggled .nav-menu {
        display: flex;
        position: relative;
        top: 0;
        gap: 0.5rem;
        margin: 0 2rem;
        box-shadow: none;
    }
}

@media (min-width: 60em) {
    .nav-menu a {
        font-size: 1.6rem;
    }
}

/* Main
--------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-video-section {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.hero-video-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.hero-video-section video {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.section-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.section-banner h1 {
    color: white;
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    letter-spacing: 4px;
}

#nav-down {
    color: var(--secondary-colour);
    font-size: 72px;
    padding: 1rem;
}

.nav-down-btn {
    cursor: pointer;
    position: absolute;
    bottom: 0px;

    transition: opacity 1s ease-in-out;
    animation: 2s bounce-down infinite normal;
    z-index: 2;
}

@keyframes bounce-down {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
    
}

@media (min-width: 45em) {
    .section-banner h1 {
        font-size: 4rem;
        padding: 1rem 3rem;
        border-radius: 1rem;
    }
}

@media (min-width: 60em) {
    .section-banner h1 {
        font-size: 5rem;
    }
}

/* Categories Section */
.categories-section {
    text-align: center;
    gap: 2rem;
    padding: 2rem 1rem;
}

.categories-section h2 {
    margin: 3rem auto;
    font-size: 2rem;
    font-weight: 800;
    position: relative;
}

.categories-section h2::after {
    content: "";
    max-width: 40rem;
    height: 0.25rem;
    margin: 0 auto;
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
    background-color: var(--primary-colour);
}

.articles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 100rem;
    padding: 1rem 0;
}

.category-article {
    max-width: 30rem;
    position: relative;
}

.category-article::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.category-article h3 {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category-article img{
    display: block;
}

@media (min-width: 45em) {
    .category-article h3 {
        font-size: 2rem;
    }
}


/* Footer
--------------------------------------------- */
